.GameVBox-playersHBox {
	-fx-effect: dropshadow(gaussian, gray, 10, 0, 0, 0);
}
.GameVBox-whiteEngineLabel {
	-fx-text-fill: black;
	-fx-font-size: 17.0;
}
.GameVBox-blackEngineLabel {
	-fx-text-fill: black;
	-fx-font-size: 17.0;
}
.GameVBox-whiteClockLabel-on {
	-fx-text-fill: black;
	-fx-font-size: 15.0;
}
.GameVBox-whiteClockLabel-off {
	-fx-text-fill: gray;
	-fx-font-size: 15.0;
}
.GameVBox-blackClockLabel-on {
	-fx-text-fill: black;
	-fx-font-size: 15.0;
}
.GameVBox-blackClockLabel-off {
	-fx-text-fill: gray;
	-fx-font-size: 15.0;
}
.GameVBox-gameTableView {
	-fx-font: 12px "Source Code Pro";
}
